.rarity-1 {
    background-color: rgb(0 128 0 / 50%);
}

.rarity-2 {
    background-color: rgb(0 0 255 / 50%);
}

.rarity-3 {
    background-color: rgb(128 0 128 / 50%);
}

.rarity-4 {
    background-color: rgb(255 165 0 / 50%);
}